* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

weather {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #0e365b;
    /* background-image: url("../images/96351704_10219289084409365_2062070556802416640_o-20200526-155447.jpeg");
    background-repeat: no-repeat;
    background-size: cover; */
}

.searchContainer {
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

search {
    width: 350px;
    height: 40%;
    display: flex;
    gap: 5px;
    margin-right: 10%;
    align-items: center;
    background-color: #1270bdb3;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 10px;
}

search .searchIcon {
    width: 20px;
    height: 20px;
    padding: 2px;
    filter: invert(100%) opacity(0.7);
}

search input {
    height: 100%;
    flex: 1;
    font-size: 17px;
    margin-top: 3px;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.752);
    background-color: transparent;
}

search input::placeholder {
    color: rgba(255, 255, 255, 0.496);
    opacity: 1;
}

todaysWeather {
    width: 100%;
    height: 33%;
    color: rgba(255, 255, 255, 0.874);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

todaysWeather h2 {
    font-size: 25px;
}

todaysWeather .weatherTemperature {
    font-size: 50px;
}

todaysWeather .weatherTemperatureRange {
    margin-top: 5px;
}

.weatherTimeLineContainer {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
}

.infoContainer {
    color: rgba(255, 255, 255, 0.752);
    border-radius: 15px;
    background-color: #1270bdb3;
    backdrop-filter: blur(10px);
}

weatherTimeLine {
    width: 80%;
    padding: 10px;
    display: flex;
    align-items: center;
}

weatherTimeLineItem {
    flex: 1;
    height: 100%;
    color: rgba(255, 255, 255, 0.752);
    display: flex;
    flex-direction: column;
    align-items: center;
}

weatherTimeLineItem p {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

weatherTimeLineItem img {
    width: 40px;
    height: 40px;
}

.forecastWeatherContainer {
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

forecastWeather {
    width: 80%;
    height: 95%;
    display: flex;
}

forecastDaysWeather {
    flex: 1;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

forecastDaysWeatherItem {
    width: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #3C86CC;
}

forecastDaysWeatherItem>* {
    flex: 1;
    text-align: center;
}

forecastDaysWeatherItem img {
    width: 25px;
    height: 25px;
}

.airQualityAndWind {
    flex: 1;
}

.precipitation {
    display: flex;
    flex: 1;
    align-items: center;
}

.map {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(255, 255, 255, 0.752);
    border-radius: 15px;
    background-color: #1270bdb3;
    backdrop-filter: blur(10px);
}