* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

weather {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #0e365b;
}

.searchContainer {
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

search {
    width: 350px;
    height: 40%;
    display: flex;
    gap: 5px;
    margin-right: 10%;
    align-items: center;
    background-color: #1270bdb3;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 10px;
}

search .searchIcon {
    width: 20px;
    height: 20px;
    padding: 2px;
    filter: invert(100%) opacity(0.7);
}

search input {
    height: 100%;
    flex: 1;
    font-size: 17px;
    margin-top: 3px;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.752);
    background-color: transparent;
}

search input::placeholder {
    color: rgba(255, 255, 255, 0.496);
    opacity: 1;
}

todaysWeather {
    width: 100%;
    height: 33%;
    color: rgba(255, 255, 255, 0.874);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

todaysWeather h2 {
    font-size: 25px;
}

todaysWeather .weatherTemperature {
    font-size: 50px;
}

todaysWeather .weatherTemperatureRange {
    margin-top: 5px;
}

.weatherTimeLineContainer {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
}

.infoContainer {
    color: rgba(255, 255, 255, 0.752);
    border-radius: 15px;
    background-color: #1270bdb3;
    backdrop-filter: blur(10px);
}

weatherTimeLine {
    width: 80%;
    padding: 10px;
    display: flex;
    align-items: center;
}

weatherTimeLineItem {
    flex: 1;
    height: 100%;
    color: rgba(255, 255, 255, 0.752);
    display: flex;
    flex-direction: column;
    align-items: center;
}

weatherTimeLineItem p {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

weatherTimeLineItem img {
    width: 40px;
    height: 40px;
}

.forecastWeatherContainer {
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

forecastWeather {
    width: 80%;
    height: 95%;
    gap: 10px;
    display: flex;
}

forecastDaysWeather {
    flex: 1;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

forecastDaysWeatherItem {
    width: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #3C86CC;
}

forecastDaysWeatherItem>* {
    flex: 1;
    text-align: center;
}

forecastDaysWeatherItem img {
    width: 50px;
    height: 50px;
}

.headline {
    font-size: 15px;
}

airQualityAndWind {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

airQuality {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.qualityText {
    font-size: 20px;
}

.qualityWrap {
    position: relative;
    height: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px;
    background: linear-gradient(45deg, #299766, #F79C3F, #C41B38, #811B33);
}

.circle {
    position: absolute;
    left: 0;
    width: 15px;
    height: 15px;
    border: 4px solid white;
    border-radius: 50%;
}

wind {
    display: flex;
    width: 100%;
    height: 50%;
}

.windWrap {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.windWrapInfo {
    display: flex;
    align-items: center;
    flex: 1;
}

.windHeadline {
    font-size: 15px;
    padding-top: 10px;
    padding-left: 10px;
}

.windBox1 {
    flex: 1;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.windBox2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.windkph {
    flex: 1;
    font-size: 40px;
    font-weight: 700;
}

.compas {
    width: 60%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.compasBackground {
    position: absolute;
    width: 170px;
    height: 170px;
}

.compasArrow {
    position: absolute;
    width: 25px;
    height: 60px;
    transition: 1s;
}